IE7275 ASSIGNMENT-1

Question 1

In [ ]:
import numpy as np

def sentropy(ts):
  entropy_value = 0
  #iterating each value in ts
  for i in ts:
      entropy_value = entropy_value + (i *np.log2(i)) #calculating entropy as per formula
  return (-1)*entropy_value

#creating an empty array for input
x = []
#taking input of array size
l = int(input("Enter the input array size :"))
#reading the elements of array
for i in range(l):
  a = float(input("Enter value :"))
  x.append(a)

x = np.array(x)

#function call for sentropy
print(sentropy(x))

Question 2

In [13]:
from google.colab import files
uploaded = files.upload()

Saving division.csv to division.csv
Saving fm.csv to fm.csv

In [14]:
import pandas as pd
fmdf=pd.read_csv('fm.csv')
fmdf

         FMID  ...       updateTime
0     1018261  ...  6/20/2017 22:43
1     1018318  ...  6/21/2017 17:15
2     1009364  ...             2013
3     1010691  ...  10/28/2014 9:49
4     1002454  ...   3/1/2012 10:38
...       ...  ...              ...
8794  1004767  ...   6/5/2014 14:40
8795  1018362  ...  6/22/2017 19:37
8796  1012380  ...   7/9/2016 17:00
8797  1004686  ...             2009
8798  1011418  ...    9/4/2015 9:48

[8799 rows x 59 columns]

In [15]:
import pandas as pd
div=pd.read_csv('division.csv')
div

    Unnamed: 0           State            Division
0            1         Alabama  East South Central
1            2          Alaska             Pacific
2            3         Arizona            Mountain
3            4        Arkansas  West South Central
4            5      California             Pacific
5            6        Colorado            Mountain
6            7     Connecticut         New England
7            8        Delaware      South Atlantic
8            9         Florida      South Atlantic
9           10         Georgia      South Atlantic
10          11          Hawaii             Pacific
11          12           Idaho            Mountain
12          13        Illinois  East North Central
13          14         Indiana  East North Central
14          15            Iowa  West North Central
15          16          Kansas  West North Central
16          17        Kentucky  East South Central
17          18       Louisiana  West South Central
18          19           Maine         New England
19          20        Maryland      South Atlantic
20          21   Massachusetts         New England
21          22        Michigan  East North Central
22          23       Minnesota  West North Central
23          24     Mississippi  East South Central
24          25        Missouri  West North Central
25          26         Montana            Mountain
26          27        Nebraska  West North Central
27          28          Nevada            Mountain
28          29   New Hampshire         New England
29          30      New Jersey     Middle Atlantic
30          31      New Mexico            Mountain
31          32        New York     Middle Atlantic
32          33  North Carolina      South Atlantic
33          34    North Dakota  West North Central
34          35            Ohio  East North Central
35          36        Oklahoma  West South Central
36          37          Oregon             Pacific
37          38    Pennsylvania     Middle Atlantic
38          39    Rhode Island         New England
39          40  South Carolina      South Atlantic
40          41    South Dakota  West North Central
41          42       Tennessee  East South Central
42          43           Texas  West South Central
43          44            Utah            Mountain
44          45         Vermont         New England
45          46        Virginia      South Atlantic
46          47      Washington             Pacific
47          48   West Virginia      South Atlantic
48          49       Wisconsin  East North Central
49          50         Wyoming            Mountain

ANSWER 2.1

In [18]:
#subsetting the data by grouping by State and counting the number of farmers markets
x = fmdf.groupby('State')['FMID'].count().reset_index(name='count')

#sorting the rows in decending order of number of farmers markets
x.sort_values(by='count', ascending=False)

                   State  count
4             California    760
32              New York    673
22              Michigan    343
13              Illinois    338
35                  Ohio    336
21         Massachusetts    326
51             Wisconsin    312
38          Pennsylvania    311
9                Florida    264
48              Virginia    262
25              Missouri    256
33        North Carolina    255
44                 Texas    236
15                  Iowa    227
14               Indiana    201
23             Minnesota    201
49            Washington    176
10               Georgia    169
20              Maryland    165
5               Colorado    161
37                Oregon    160
6            Connecticut    158
30            New Jersey    156
0                Alabama    140
17              Kentucky    139
41        South Carolina    133
43             Tennessee    133
16                Kansas    120
3               Arkansas    111
27              Nebraska    104
29         New Hampshire     96
11                Hawaii     96
19                 Maine     96
50         West Virginia     94
2                Arizona     93
46               Vermont     92
24           Mississippi     83
18             Louisiana     81
36              Oklahoma     74
26               Montana     72
31            New Mexico     72
34          North Dakota     66
12                 Idaho     66
8   District of Columbia     60
52               Wyoming     50
45                  Utah     46
39           Puerto Rico     42
42          South Dakota     41
40          Rhode Island     38
28                Nevada     38
1                 Alaska     37
7               Delaware     36
47        Virgin Islands      4

ANSWER 2.2

In [20]:
#creating a subset of the data containing all the values pertaining to Massachusetts state
Massfmdf =fmdf.loc[fmdf['State']== 'Massachusetts']

#counting the number of farmers markets in each city of Massachusetts
y = Massfmdf.groupby('city')['FMID'].count().reset_index(name='count')

#arranging the rows in descending order of number of farmers markets
y = y.sort_values(by='count', ascending=False)
#displaying the top 5 cities in terms of number of farmers markets
y.head(5)

            city  count
218    Worcester     24
24        Boston     10
50    Dorchester      7
128  New Bedford      6
170   Somerville      6

ANSWER 2.3

In [28]:
# subsetting the data to hold the columns: State, credit, WIC, WICcash and SNAP
fm_sub = fmdf.loc[:, ['State', 'Credit', 'WIC', 'WICcash', 'SNAP']]

# to replace all occurences in all columns
fm_sub = fm_sub.replace(to_replace = "Y", value = 1)
fm_sub = fm_sub.replace(to_replace = "N", value = 0)

# get Count of each payment type
fm_sub = pd.pivot_table(fm_sub, index = ['State'],
                               values = ['Credit', 'WIC', 'WICcash', 'SNAP'],
                               aggfunc = 'sum').reset_index()

# converting table to wide format
fm_sub = fm_sub.melt(id_vars = ['State'],
                                   var_name = 'Payment System',
                                   value_name = '#Farmers Market').sort_values(by = 'State')
# printing the fm_sub
print(fm_sub.to_string(index = False))

                State Payment System  #Farmers Market
              Alabama         Credit               54
              Alabama           SNAP               25
              Alabama        WICcash                7
              Alabama            WIC               15
               Alaska        WICcash                9
               Alaska         Credit               22
               Alaska           SNAP                9
               Alaska            WIC               16
              Arizona           SNAP               38
              Arizona        WICcash               33
              Arizona         Credit               72
              Arizona            WIC               39
             Arkansas           SNAP               27
             Arkansas        WICcash               12
             Arkansas         Credit               53
             Arkansas            WIC               21
           California           SNAP              335
           California        WICcash              141
           California         Credit              421
           California            WIC              377
             Colorado            WIC                8
             Colorado         Credit              102
             Colorado           SNAP               57
             Colorado        WICcash                6
          Connecticut            WIC               47
          Connecticut           SNAP               24
          Connecticut         Credit               64
          Connecticut        WICcash               19
             Delaware        WICcash                0
             Delaware           SNAP               16
             Delaware         Credit               25
             Delaware            WIC                7
 District of Columbia         Credit               51
 District of Columbia        WICcash               35
 District of Columbia            WIC               48
 District of Columbia           SNAP               47
              Florida         Credit              178
              Florida        WICcash                9
              Florida            WIC               23
              Florida           SNAP               54
              Georgia           SNAP               57
              Georgia         Credit              127
              Georgia            WIC               12
              Georgia        WICcash               10
               Hawaii            WIC                0
               Hawaii        WICcash                0
               Hawaii           SNAP               38
               Hawaii         Credit               55
                Idaho        WICcash                1
                Idaho         Credit               31
                Idaho            WIC                0
                Idaho           SNAP               16
             Illinois        WICcash               21
             Illinois         Credit              189
             Illinois           SNAP               86
             Illinois            WIC               46
              Indiana           SNAP               75
              Indiana        WICcash               56
              Indiana         Credit              141
              Indiana            WIC               87
                 Iowa         Credit               87
                 Iowa           SNAP               48
                 Iowa        WICcash               47
                 Iowa            WIC               79
               Kansas            WIC                3
               Kansas         Credit               62
               Kansas        WICcash                2
               Kansas           SNAP               27
             Kentucky         Credit               80
             Kentucky           SNAP               42
             Kentucky        WICcash               17
             Kentucky            WIC               52
            Louisiana        WICcash                2
            Louisiana         Credit               49
            Louisiana            WIC               14
            Louisiana           SNAP               20
                Maine           SNAP               48
                Maine         Credit               63
                Maine        WICcash               27
                Maine            WIC               42
             Maryland         Credit              111
             Maryland            WIC              105
             Maryland           SNAP               51
             Maryland        WICcash               55
        Massachusetts        WICcash               78
        Massachusetts           SNAP              167
        Massachusetts            WIC              183
        Massachusetts         Credit              224
             Michigan         Credit              219
             Michigan            WIC              153
             Michigan           SNAP              161
             Michigan        WICcash               20
            Minnesota           SNAP               62
            Minnesota            WIC               39
            Minnesota         Credit              106
            Minnesota        WICcash               20
          Mississippi           SNAP               27
          Mississippi            WIC               13
          Mississippi         Credit               39
          Mississippi        WICcash                4
             Missouri        WICcash                1
             Missouri           SNAP               46
             Missouri            WIC                1
             Missouri         Credit              176
              Montana        WICcash               10
              Montana            WIC               13
              Montana         Credit               41
              Montana           SNAP               20
             Nebraska           SNAP               14
             Nebraska         Credit               44
             Nebraska        WICcash                6
             Nebraska            WIC               19
               Nevada        WICcash                3
               Nevada           SNAP               16
               Nevada            WIC                4
               Nevada         Credit               27
        New Hampshire           SNAP               34
        New Hampshire         Credit               61
        New Hampshire            WIC                8
        New Hampshire        WICcash                6
           New Jersey         Credit               91
           New Jersey        WICcash               38
           New Jersey            WIC               51
           New Jersey           SNAP               31
           New Mexico         Credit               45
           New Mexico            WIC               49
           New Mexico        WICcash                8
           New Mexico           SNAP               32
             New York            WIC              391
             New York        WICcash              270
             New York         Credit              418
             New York           SNAP              294
       North Carolina         Credit              171
       North Carolina        WICcash               15
       North Carolina            WIC               38
       North Carolina           SNAP               57
         North Dakota         Credit                9
         North Dakota           SNAP                3
         North Dakota            WIC                0
         North Dakota        WICcash                0
                 Ohio         Credit              195
                 Ohio           SNAP              103
                 Ohio            WIC               89
                 Ohio        WICcash               43
             Oklahoma            WIC                7
             Oklahoma           SNAP               19
             Oklahoma        WICcash                6
             Oklahoma         Credit               27
               Oregon            WIC               99
               Oregon        WICcash               67
               Oregon         Credit              108
               Oregon           SNAP               91
         Pennsylvania         Credit              165
         Pennsylvania           SNAP               86
         Pennsylvania            WIC              101
         Pennsylvania        WICcash               24
          Puerto Rico        WICcash               35
          Puerto Rico           SNAP                0
          Puerto Rico         Credit               42
          Puerto Rico            WIC                0
         Rhode Island         Credit               36
         Rhode Island           SNAP               27
         Rhode Island        WICcash               26
         Rhode Island            WIC               28
       South Carolina         Credit               67
       South Carolina        WICcash               26
       South Carolina           SNAP               34
       South Carolina            WIC               33
         South Dakota         Credit               18
         South Dakota           SNAP                9
         South Dakota            WIC                0
         South Dakota        WICcash                0
            Tennessee        WICcash                3
            Tennessee           SNAP               43
            Tennessee            WIC                7
            Tennessee         Credit               85
                Texas           SNAP               54
                Texas            WIC               27
                Texas         Credit              162
                Texas        WICcash               20
                 Utah           SNAP               20
                 Utah         Credit               31
                 Utah        WICcash                0
                 Utah            WIC                1
              Vermont        WICcash               22
              Vermont           SNAP               50
              Vermont            WIC               36
              Vermont         Credit               69
       Virgin Islands         Credit                0
       Virgin Islands           SNAP                0
       Virgin Islands        WICcash                0
       Virgin Islands            WIC                0
             Virginia        WICcash                4
             Virginia            WIC                9
             Virginia           SNAP               94
             Virginia         Credit              191
           Washington            WIC              118
           Washington           SNAP              105
           Washington         Credit              144
           Washington        WICcash               32
        West Virginia            WIC               33
        West Virginia        WICcash               26
        West Virginia         Credit               49
        West Virginia           SNAP               34
            Wisconsin            WIC              140
            Wisconsin        WICcash               65
            Wisconsin           SNAP               87
            Wisconsin         Credit              159
              Wyoming           SNAP                4
              Wyoming         Credit               30
              Wyoming            WIC                0
              Wyoming        WICcash                0

ANSWER 2.4

In [29]:
#merging fm.csv and division.csv
mergedf = pd.merge(fmdf,div,on='State',how='inner')

#counting number of farmers markets by division
print(mergedf.groupby('Division')['FMID'].count())

Division
East North Central    1530
East South Central     495
Middle Atlantic       1140
Mountain               598
New England            806
Pacific               1229
South Atlantic        1378
West North Central    1015
West South Central     502
Name: FMID, dtype: int64

ANSWER 2.5

In [31]:
#creating a dataframe that contains farmers markets that offer coffee in descending order
cof=fmdf.loc[fmdf['Coffee']=='Y']['State'].value_counts(ascending=False)
#top 5 states by number of farmers market that offer coffee
print(cof.head(5))

California       168
New York         121
Massachusetts    102
Illinois          98
Ohio              91
Name: State, dtype: int64